<div class="text-layout">
    <h1>Decimal Pipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente el modulo Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            <i class="pi pi-dollar"></i> {{ventasNetas + 1000000 | number: '1.2-2'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ventasNetas + 2000000 | currency: 'MXN': 'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>
</div>