<!-- <div class="text-layout">

    <h1>{{ nombre | titlecase}}</h1>
    <h1>{{ valor | number}}</h1>
    <h1>{{ obj | json}}</h1>

    <button pButton class="p-button-help" icon="pi pi-check" iconPos="right" (click)="mostrarNombre()" label="BOTON">
    </button>

    <hr>

    <p-card [header]="nombre | titlecase" subheader="Subtitulo">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit labore consequuntur delectus repellendus. Iusto, vitae ducimus. Ipsa qui natus harum perspiciatis perferendis, nesciunt doloribus obcaecati eius commodi. Numquam, at explicabo.
    </p-card>

</div> -->
<app-menu></app-menu>

<router-outlet></router-outlet>